<html>
<head>
  <title>List of Cds</title>
</head>
<body>
    <h1> CD Info: </h1>
    <p>{{ newcd.getTitle }}</p>
    <p>{{ newcd.getArtist }}</p>
    <p><img src="{{  newcd.getCoverArt  }}" </p>
    <p>{{ newcd.getPrice }}</p>

    <p><a href = '/'>View list of all Cds</a></p>

</body>

</html>
